<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route frontName="labelexport" id="labelexport">
            <module name="Plumtree_LabelExport"/>
        </route>
    </router>
</config>